* {
  box-sizing: border-box;
}
#header-nav{
  background-color: #c3faf1;
  border-radius: 0;
  border:  3px solid black;
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 30px;
}
.navbar-brand{
  padding: 0;
  font-weight: bold;
  font-family: century gothic , georgia ,courier ,helvatica;
  text-shadow: 2px 2px 2px blue;
  margin: 25px;
  font-size: 2em;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;  
}
.nav-item a:hover {
  background: #E7E7E7;
  border: 1px solid #61122f;
}
button.navbar-toggle{
  border: 1px solid #61122f;
  clear: both;
}
/* Header ends */

/* main body */

.box {
  width: 100%;
  border: 3px solid black;
  background-color: grey;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 2px 2px 4px grey;
  height:1000px;
  position: relative;
  margin: 10px;
}
.head1 {
  background-color: #f27785;
}
.head2{
  background-color: red;
  color: white; 
}
.head3 {
  background-color: #dedda6;
}
h2{
  padding-bottom: 20px;
}
.box span{
	width: 40% ;
	padding:5px 10px 5px 10px ;
	float:right;
	border-left: 3px solid black ;
	border-bottom: 3px solid black ;
	text-align: center;
	font-size: 25px;
	font-style: italic;
}
p{
  padding: 20px;
  text-align: justify;
  clear: both;
}
.box a{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  border-top: 2px solid black;
  border-left: 2px solid black;
  text-align: center;
  color: blue;
}

/*Main body ends*/